# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.env

# Virtual environments
venv/
.venv/
env/

# IDE / editor files
.idea/
.vscode/
*.swp

# OS files
Thumbs.db
.DS_Store
